<div class="smallcenterbox lightbox login_controller">
<form class='splash' action='{{ this.loginActionUrl }}'  method='post'>
	<input type='hidden' name='redirect' value='{{ this.redirecturl }}' />
	<div>
		<label for='login'>{{ this.loginLabel }}</label>
		<input type='text' id='login' class='required' name='login' value="{{ this.login }}" />
	</div>
	<div>
		<label for='password'>{{ this.passwordLabel }}</label>
		<input type='password' id='password' name='password' />
	</div>
	{% if addRememberMeCheckbox %}
    <div>
		<label for='remember_me'>{{ this.rememberMeLabel }}</label>
		<input type='checkbox' id='remember_me' name='remember_me' />
	</div>
    {% endif %}
	<div>
		<button type='submit' name='action' value='login'>{{ this.loginSubmitLabel }}</button>
	</div>
</form>
</div>